<h3>This is TODOS Component!</h3>
<label>Add TODO</label>
<!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateTodoName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="newTodoName">
<p>{{ newTodoName }}</p>
<button
  class="btn btn-primary"
  [disabled]="disableAddTodo"
  (click)="onAddTodo()">
  Add TODO
</button>
<!--<p>{{ todoCreated }}</p>-->
<p *ngIf="todoCreated; else noTodo">Todo was added, new todo name: {{ newTodoName }}</p>
<ng-template #noTodo>
  <p>No todo was added!</p>
</ng-template>
<hr>
<app-todo *ngFor="let todo of todos"></app-todo>
<!--<div *ngFor="let todo of todos; let i = index">{{ todo }}, {{ i }}</div>-->
